<!DOCTYPE html>
<html lang="en">

<head>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="../scripts/utils.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <title>Rage Against Christmas</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="MyWebSite"/>
    <link rel="manifest" href="/site.webmanifest"/>
</head>

<body
        style="display: flex; flex-direction: column; min-height: 100vh; "
        x-data="{
            theme: localStorage.getItem('theme') || 'hacker',
            availableThemes: ['hacker', 'solarized-dark', 'solarized-light', 'pastel-light', 'cyberpunk', 'comic-sans']
        }"
        x-init="
            document.documentElement.setAttribute('data-theme', theme);
            if(!getUserId()) {
            window.location.href = '/login';
            };
">
<div class="navbar">
    <div class="breadcrumbs">
        <a href="/">Rage against christmas</a>
    </div>
    <a href="/leaderboard">Leaderboard</a>
    <div class="login">
        <span x-text="getUserName()"></span>
        <button onclick="logout()">logout</button>
    </div>
</div>

<div style="flex: 1;">
    {{{ body }}}
</div>

<footer style="overflow-x: auto;flex-shrink: 0">
    <div style="display: flex; gap: 8px; align-items: center;justify-content: safe flex-end;">
        <p style="white-space: nowrap">v1.4</p>
        <p>///</p>
        <p x-text="theme" style="padding-inline: 0; white-space: nowrap"></p>
        <p>///</p>
        <p x-text="new Intl.DateTimeFormat('es', {weekday: 'long', day: 'numeric'}).format(new Date())"
           style="white-space: nowrap"></p>
        <p>///</p>
        <p x-data="{time: new Date(), formatter: new Intl.DateTimeFormat('es', {timeStyle: 'long'})}" x-init=" setInterval(() => {
        time = new Date();
    }, 1000)
"
           x-text="formatter.format(time)"
           style="white-space: nowrap"
        ></p>
    </div>
</footer>

<div id="contextmenu">
    <div class="dotted-background list" role="list">
        <p style="padding: 2px 4px 0 4px">Copying is disabled</p>
        <hr>
        <div role="listitem"><a href="/">Home</a></div>
        <div role="listitem"><a href="/leaderboard">Leaderboard</a></div>
        <hr>
        <div role="listitem" class="expandable">
            <p>Theme</p>
            <div role="list" class="dotted-background">
                <template x-for="availableTheme in availableThemes" :key="availableTheme">
                    <button
                            @click="
                            theme = availableTheme;
                            localStorage.setItem('theme', availableTheme);
                            document.documentElement.setAttribute('data-theme', availableTheme);
                        "
                            x-text="availableTheme"
                            style="width: 100%;text-align: left;white-space: nowrap"
                    ></button>
                </template>
            </div>
        </div>
        <hr>
        <div role="listitem">
            <p @click="barrelRoll()">do a barrel roll</p>
        </div>
        <div role="listitem">
            <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">rickroll</a>
        </div>
        <div role="listitem">
            <a target="_blank" href="http://sallysbakingaddiction.com/easy-cinnamon-rolls-from-scratch/">cinnamon
                roll</a>
        </div>
    </div>
</div>

</body>

</html>