<!DOCTYPE html>
<html lang="en">
<style>
    table {
        border-collapse: collapse;
        th, td {
            border: 1px solid;
            padding: 4px 12px;
        }
    }
</style>
<div>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Submissions</th>
          <th>Score</th>
        </tr>
      </thead>
        {{#each leaderboard}}
          <tr>
            <td>{{sum @index 1}}</td>
            <td>{{this.username}}</td>
            <td>{{this.submissionsLength}}</td>
            <td>{{this.score}}</td>
          </tr>
        {{/each}}
    </table>

</div>