<!DOCTYPE html>
<html lang="en">
<style>
    table {
        border-collapse: collapse;

        th, td {
            border: 1px solid;
            padding: 4px 12px;
        }
    }
</style>
<div style="display: grid;place-content: center;">
    <h1 style="margin-block-end: 0">Los más listos</h1>
    <p>Quien tenga más puntos, gana.</p>
    <table style="text-align: left">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Submissions</th>
            <th>Score</th>
        </tr>
        </thead>
        {{#each leaderboard}}
            <tr>
                <td style="max-width: 25ch; text-overflow: ellipsis; overflow: hidden">{{sum @index 1}}</td>
                <td style="max-width: 25ch; text-overflow: ellipsis; overflow: hidden">{{this.username}}</td>
                <td style="max-width: 25ch; text-overflow: ellipsis; overflow: hidden">{{this.submissionsLength}}</td>
                <td style="max-width: 25ch; text-overflow: ellipsis; overflow: hidden">{{this.score}}</td>
            </tr>
        {{/each}}
    </table>

</div>