<!DOCTYPE html>
<html lang="en">

<head>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="../scripts/utils.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <title>Rage Against Christmas</title>
</head>

<body>
<p>
    Rage against christmas / Login
  </p>
  <form x-data="{}" style="display: grid; gap: 8px; place-content: center; height: 80vh;">
    <input type="text" id="username" placeholder="Username" autocomplete="username" />
    <input type="password" id="password" placeholder="Password" autocomplete="current-password" />
    <button type="button" @click="login" class="primary" style="padding: 4px 8px;">Login</button>
  </form>

<script>
  function login() {
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    ajax('/api/login', {
      method: 'POST',
      body: JSON.stringify({ username, password })
    }).then(res => res.json())
      .then(data => {
        if (data.accessToken) {
          localStorage.setItem('accessToken', data.accessToken);
          localStorage.setItem('userId', data.userId);
          localStorage.setItem('userName', data.userName);
          window.location.href = '/';
        } else {
          alert('Login failed');
        }
      });
  }

</script>
</body>

</html>